{% load static %}
<!DOCTYPE html >
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<title>bootstrap后台登录表单代码 - 站长素材</title>

<link href="{%static 'admin/css/bootstrap.min.css'%}" title="" rel="stylesheet" />
<link title="orange" href="{%static 'admin/css/login.css'%}" rel="stylesheet" type="text/css">

</head>
<body>
  
<div style="height:1px;" ></div>
<div class="login">
 <header>
	<h1>登陆</h1>
 </header>
 <div class="sr">
	<form action="{% url 'admin:login' %}" method="post">
        {% csrf_token %}
		<div class="name">
			<label>
			<i class="sublist-icon glyphicon glyphicon-user"></i>
			</label>
			<input type="text"  placeholder="这里输入登录名" class="name_inp" name="username">
		</div>
		 <div class="name">
			<label>
			<i class="sublist-icon glyphicon glyphicon-pencil"></i>
			</label>
			<input type="text"  placeholder="这里输入登录密码" class="name_inp" name="password">
		</div>
		<button class="dl">登陆</button>
	</form>
 </div>
</div>

<div style="text-align:center;margin:-150px 0; font:normal 14px/24px 'MicroSoft YaHei';color:#ffffff">
<p>适用浏览器：360、FireFox、Chrome、Opera、傲游、搜狗、世界之窗. 不支持Safari、IE8及以下浏览器。</p>
<p>来源：<a href="http://sc.chinaz.com/" target="_blank">站长素材</a></p>
</div>
</body>
</html>

