{% load static %}
<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<title>后台管理系统</title>
<!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
<meta name="author" content="DeathGhost" />
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/style.css'%}">
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<![endif]-->
<script src="{%static 'admin/js/jquery.js'%}"></script>
<script src="{%static 'admin/js/jquery.mCustomScrollbar.concat.min.js'%}"></script>
<script>

	(function($){
		$(window).load(function(){
			
			$("a[rel='load-content']").click(function(e){
				e.preventDefault();
				var url=$(this).attr("href");
				$.get(url,function(data){
					$(".content .mCSB_container").append(data); //load new content inside .mCSB_container
					//scroll-to appended content 
					$(".content").mCustomScrollbar("scrollTo","h2:last");
				});
			});
			
			$(".content").delegate("a[href='top']","click",function(e){
				e.preventDefault();
				$(".content").mCustomScrollbar("scrollTo",$(this).attr("href"));
			});
			
		});
	})(jQuery);
</script>
</head>
<body>
<!--header-->
<header>
 <h1><img src="images/admin_logo.png"/></h1>
 <ul class="rt_nav">
  <li><a href="http://www.mycodes.net" target="_blank" class="website_icon">站点首页</a></li>
  <li><a href="#" class="clear_icon">清除缓存</a></li>
  <li><a href="#" class="admin_icon">DeathGhost</a></li>
  <li><a href="#" class="set_icon">账号设置</a></li>
  <li><a href="login.html" class="quit_icon">安全退出</a></li>
 </ul>
</header>
<!--aside nav-->
<!--aside nav-->
<aside class="lt_aside_nav content mCustomScrollbar">
 <h2><a href="index.html">起始页</a></h2>
 <ul>
  <li>
   <dl>
    <dt>商品信息</dt>
    <!--当前链接则添加class:active-->
    <dd><a href="{% url 'admin:productlist' %}" class="active">商品列表</a></dd>
    <dd><a href="{% url 'admin:productdetail' %}">添加商品</a></dd>
    <dd><a href="{% url 'admin:recyclebin' %}">商品回收站</a></dd>
   </dl>
  </li>
  <li>
   <dl>
    <dt>订单信息</dt>
    <dd><a href="{% url 'admin:orderlist' %}">订单列表示例</a></dd>
    <dd><a href="order_detail.html">订单详情示例</a></dd>
   </dl>
  </li>
  <li>
   <dl>
    <dt>会员管理</dt>
    <dd><a href="{% url 'admin:userlist' %}">会员列表</a></dd>
    <dd><a href="{% url 'admin:userrank' %}">会员等级示例</a></dd>
    <dd><a href="adjust_funding.html">会员资金管理示例</a></dd>
   </dl>
  </li>
  <li>
   <dl>
    <dt>在线统计</dt>
    <dd><a href="{% url 'admin:rankstatistic' %}">等级统计</a></dd>
    <dd><a href="{% url 'admin:salesvolume' %}">销售额统计</a></dd>
    <dd><a href="{% url 'admin:flowstatistics' %}">流量统计</a></dd>
   </dl>
  </li>
  <li>
   <p class="btm_infor">© DeathGhost.cn 版权所有</p>
  </li>
 </ul>
</aside>

<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">会员列表</h2>
{#       <a href="{% url 'admin:' %}" class="fr top_rt_btn add_icon">添加新会员</a>#}
      </div>
      <section class="mtb">
       <select class="select">
        <option>会员等级</option>
        <option>普通会员</option>
        <option>高级会员</option>
       </select>
       <input type="text" class="textbox textbox_225" placeholder="输入会员号/手机/电子邮件查询..."/>
       <input type="button" value="查询" class="group_btn"/>
      </section>
      <table class="table">
       <tr>
        <th>Id</th>
        <th>会员头像</th>
        <th>会员账号</th>
        <th>手机号码</th>
        <th>电子邮件</th>
        <th>会员等级</th>
        <th>账户余额</th>
        <th>操作</th>
       </tr>
          {% for user in data %}
       <tr>
        <td class="center">{{ user.id }}</td>
        <td class="center"><img src="{{ user.picture }}" width="50" height="50"/></td>
        <td>{{ user.username }}</td>
        <td class="center">{{ user.phone }}</td>
        <td class="center">{{ user.email}}</td>
        <td class="center">{{ user.levelname }}</td>
        <td class="center">
         <strong class="rmb_icon">{{ user.balance }}</strong>
        </td>
        <td class="center">
         <a href="{% url 'admin:userdetail' uid=user.id%}" title="编辑" class="link_icon">&#101;</a>
         <a href="#" title="删除" class="link_icon">&#100;</a>
        </td>
       </tr>
          {% endfor %}
      </table>
{#      <aside class="paging">#}
{#       <a>第一页</a>#}
{#       <a>1</a>#}
{#       <a>2</a>#}
{#       <a>3</a>#}
{#       <a>…</a>#}
{#       <a>1004</a>#}
{#       <a>最后一页</a>#}
{#      </aside>#}
        {#        分页#}
        <div class="row">
            <nav aria-label="Page navigation">
              <ul class="pagination">
                {% if pagination.has_previous %}
                    <li>
                      <a href="{% url 'admin:userlist' pagination.previous_page_number %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                 {% else %}
                    <li class="disabled">
                      <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                {% endif %}
                  {% for page in pagerange %}
                      {% if page == pagination.number %}
                        <li class="active"><a href="{% url 'admin:userlist' page %}">{{ page }}</a></li>
                      {% else %}
                          <li><a href="{% url 'admin:userlist' page %}">{{ page }}</a></li>
                      {% endif %}
                  {% endfor %}

              {% if pagination.has_next  %}
                <li>
                  <a href="{% url 'admin:userlist' pagination.next_page_number %}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              {% else %}
                  <li class="disabled">
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              {% endif %}
              </ul>
            </nav>

        </div>
    </div>


    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
 </div>
</section>
</body>
</html>
