<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load  static %}
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>{% block title%}{% endblock title %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% block style %}
        <link type="text/css" rel="stylesheet" href="{% static 'app/css/style.css' %}" />
    {% endblock style %}
        <!--[if IE 6]>
        <script src="js/iepng.js" type="text/javascript"></script>
            <script type="text/javascript">
               EvPNG.fix('div, ul, img, li, input, a');
            </script>
        <![endif]-->
    {% block js %}
        <script type="text/javascript" src="{% static 'app/js/jquery-1.11.1.min_044d0927.js' %}"></script>
        <script type="text/javascript" src="{% static 'app/js/jquery.bxslider_e88acd1b.js' %}"></script>

        <script type="text/javascript" src="{% static 'app/js/jquery-1.8.2.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'app/js/menu.js' %}"></script>

        <script type="text/javascript" src="{% static 'app/js/select.js' %}"></script>

        <script type="text/javascript" src="{% static 'app/js/lrscroll.js' %}"></script>

        <script type="text/javascript" src="{% static 'app/js/iban.js' %}"></script>
        <script type="text/javascript" src="{% static 'app/js/fban.js' %}"></script>
        <script type="text/javascript" src="{% static 'app/js/f_ban.js' %}"></script>
        <script type="text/javascript" src="{% static 'app/js/mban.js' %}"></script>
        <script type="text/javascript" src="{% static 'app/js/bban.js' %}"></script>
        <script type="text/javascript" src="{% static 'app/js/hban.js' %}"></script>
        <script type="text/javascript" src="{% static 'app/js/tban.js' %}"></script>
        <script type="text/javascript" src="{% static 'app/js/lrscroll_1.js' %}"></script>
    {% endblock js %}
    </head>
    <body>
        <!--Begin Header Begin-->
        <div class="soubg">
            <div class="sou">
                <span class="fr">
                    {% if request.session.username %}

                    <span class="fl">你好，<a href="{% url "app:member" %}">{{ request.session.username }}</a>&nbsp; <a href="{% url "app:register" %}" style="color:#ff4e00;">免费注册</a>&nbsp;|&nbsp;<a href="{% url "app:index" %}">&nbsp;首页&nbsp;</a>&nbsp;|&nbsp;<a href="{% url "app:member" %}"> &nbsp;个人中心&nbsp; </a>|&nbsp;<a href="{% url 'app:memberorder' %}">&nbsp;我的订单&nbsp;</a>&nbsp;|</span>
                    <span class="ss">
                        <div class="ss_list">
                            <a href="{% url 'app:membercollect' %}">收藏夹</a> &nbsp;|&nbsp;<a href="{% url "app:logout" %}">退出</a>
                        </div>
                    </span>

                    {% else %}
                        <span class="fl">你好，请<a href="{% url "app:login" %}">登录</a>&nbsp; <a href="{% url "app:register" %}" style="color:#ff4e00;">免费注册</a>&nbsp;
                    {% endif %}
            </div>
        </div>
        <div class="top">
            <div class="logo"><a href="{% url "app:index" %}"><img src="/static/app/images/logo.png" /></a></div>
            <div class="search">
                <form>
                    <input type="text" value="" class="s_ipt" />
                    <input type="submit" value="搜索" class="s_btn" />
                </form>
                <span class="fl"><a href="#">咖啡</a><a href="#">iphone 6S</a><a href="#">新鲜美食</a><a href="#">蛋糕</a><a href="#">日用品</a><a href="#">连衣裙</a></span>
            </div>
            <div class="i_car">
            {% if not request.session.username %}
                <div class="car_t">购物车 </div>
            {% else %}
                <div class="car_t">购物车 </div>
            {% endif %}
                <div class="car_bg">
                {% if not request.session.username %}
                    <!--Begin 购物车未登录 Begin-->
                    <div class="un_login">还未登录！<a href="{% url "app:login" %}" style="color:#ff4e00;">马上登录</a> 查看购物车！</div>
                    <!--End 购物车未登录 End-->
                {% else %}
                    <!--Begin 购物车已登录 Begin-->
                    <ul class="cars">
                    {% for shangpin in shopping %}
                        <li>
                            <div class="img"><a href="#"><img src="{{ shangpin.picture }}" width="58" height="58" /></a></div>
                            <div class="name"><a href="#">{{ shangpin.goods.goodsname }}</a></div>
                            <div class="price"><font color="#ff4e00">￥{{ shangpin.price }}</font> X{{ shangpin.count }}</div>
                        </li>
                    {% endfor %}
                    </ul>
                    <div class="price_sum">共计&nbsp; <font color="#ff4e00">￥</font><span>{{ sum }}</span></div>
                    <div class="price_a"><a href="{% url "app:buycarone" %}">去购物车结算</a></div>
                    <!--End 购物车已登录 End-->
                    {% endif %}
                </div>
            </div>
        </div>

        <!--End Header End-->
    {% block menu %}
        <!--Begin Menu Begin-->
        <div class="menu_bg">
            <div class="menu">
                <div class="nav">
                    <div class="nav_t">全部商品分类</div>
                    <div class="leftNav">
                        <ul>
                            {% for one in category_one %}
                            <li>
                                <div class="fj">
                                    <span class="n_img"><span></span><img src="{% static "app/images/nav1.png" %}" /></span>
                                    <span class="fl">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ one.classname }}</span>
                                </div>
                                <div class="zj" style="top:-{% widthratio forloop.counter0 1 40 %}px;">
                                    <div class="zj_l">
                                        {% for two in category_two %}
                                            {% if two.parentid == one.id %}
                                        <div class="zj_l_c">
                                            <h2>{{ two.classname }}</h2>
                                            {% for three in category_three %}
                                                {% if three.parentid == two.id %}
                                            <a href="{% url "app:categorylist" threeid=three.id %}">{{ three.classname }}</a>|
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                            {% endif %}
                                        {% endfor %}

                                    </div>
                                    <div class="zj_r">
                                        <a href="#"><img src="{% static "app/images/n_img1.jpg" %}" width="236" height="200" /></a>#}
                                        <a href="#"><img src="{% static "app/images/n_img2.jpg" %}" width="236" height="200" /></a>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                <!--End 商品分类详情 End-->
                <ul class="menu_r">
                    <li><a href="{% url "app:index" %}">首页</a></li>
                    <li><a href="#">美食</a></li>
                    <li><a href="#">生鲜</a></li>
                    <li><a href="#">家居</a></li>
                    <li><a href="#">女装</a></li>
                    <li><a href="#">美妆</a></li>
                    <li><a href="#">数码</a></li>
                    <li><a href="#">团购</a></li>
                </ul>
            </div>
        </div>
    {% endblock menu %}

    {% block body %}
    {% endblock body %}

             <!--Begin Footer Begin -->
            <div class="b_btm_bg b_btm_c">
                <div class="b_btm">
                    <table border="0" style="width:210px; height:62px; float:left; margin-left:75px; margin-top:30px;" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="72"><img src="/static/app/images/b1.png" width="62" height="62" /></td>
                            <td><h2>正品保障</h2>正品行货  放心购买</td>
                        </tr>
                    </table>
                    <table border="0" style="width:210px; height:62px; float:left; margin-left:75px; margin-top:30px;" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="72"><img src="/static/app/images/b2.png" width="62" height="62" /></td>
                            <td><h2>满38包邮</h2>满38包邮 免运费</td>
                        </tr>
                    </table>
                    <table border="0" style="width:210px; height:62px; float:left; margin-left:75px; margin-top:30px;" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="72"><img src="/static/app/images/b3.png" width="62" height="62" /></td>
                            <td><h2>天天低价</h2>天天低价 畅选无忧</td>
                        </tr>
                    </table>
                    <table border="0" style="width:210px; height:62px; float:left; margin-left:75px; margin-top:30px;" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="72"><img src="/static/app/images/b4.png" width="62" height="62" /></td>
                            <td><h2>准时送达</h2>收货时间由你做主</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="btmbg">
                <div class="btm">
                    备案/许可证编号：蜀ICP备12009302号-1-www.dingguagua.com   Copyright © 2015-2018 尤洪商城网 All Rights Reserved. 复制必究 , Technical Support: Dgg Group <br />
                    <img src="/static/app/images/b_1.gif" width="98" height="33" /><img src="/static/app/images/b_2.gif" width="98" height="33" /><img src="/static/app/images/b_3.gif" width="98" height="33" /><img src="/static/app/images/b_4.gif" width="98" height="33" /><img src="/static/app/images/b_5.gif" width="98" height="33" /><img src="/static/app/images/b_6.gif" width="98" height="33" />
                </div>
            </div>
            <!--End Footer End -->
        </div>

    </body>


    <!--[if IE 6]>
    <script src="//letskillie6.googlecode.com/svn/trunk/2/zh_CN.js"></script>
    <![endif]-->
</html>



