{% extends "app/base.html" %}
{% load static %}
{% block js %}
    
    <script type="text/javascript" src="{% static "app/js/jquery-1.8.2.min.js" %}"></script>
    <script type="text/javascript" src="{% static "app/js/menu.js" %}"></script>
                
	<script type="text/javascript" src="{% static "app/js/n_nav.js" %}"></script>

    <script type="text/javascript" src="{% static "app/js/num.js" %}">
    	var jq = jQuery.noConflict();
    </script>     
    
    <script type="text/javascript" src="{% static "app/js/shade.js" %}"></script>

 {% endblock js %}
{% block title %}购物车 - 成功提交订单{% endblock title %}

<!--Begin Menu Begin-->
{% block menu %}
     <div class="menu_bg">
            <div class="menu">
                <div class="nav">
                    <div class="nav_t">全部商品分类</div>
                    <div class="leftNav none">
                        <ul>
                            {% for one in category_one %}
                            <li>
                                <div class="fj">
                                    <span class="n_img"><span></span><img src="{% static "app/images/nav1.png" %}" /></span>
                                    <span class="fl">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ one.classname }}</span>
                                </div>
                                <div class="zj" style="top:-{% widthratio forloop.counter0 1 40 %}px;">
                                    <div class="zj_l">
                                        {% for two in category_two %}
                                            {% if two.parentid == one.id %}
                                        <div class="zj_l_c">
                                            <h2>{{ two.classname }}</h2>
                                            {% for three in category_three %}
                                                {% if three.parentid == two.id %}
                                            <a href="{% url "app:categorylist" threeid=three.id %}">{{ three.classname }}</a>|
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                            {% endif %}
                                        {% endfor %}

                                    </div>
                                    <div class="zj_r">
                                        <a href="#"><img src="{% static "app/images/n_img1.jpg" %}" width="236" height="200" /></a>#}
                                        <a href="#"><img src="{% static "app/images/n_img2.jpg" %}" width="236" height="200" /></a>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                <!--End 商品分类详情 End-->
                <ul class="menu_r">
           <li><a href="{% url "app:index" %}">首页</a></li>
                    <li><a href="#">美食</a></li>
                    <li><a href="#">生鲜</a></li>
                    <li><a href="#">家居</a></li>
                    <li><a href="#">女装</a></li>
                    <li><a href="#">美妆</a></li>
                    <li><a href="#">数码</a></li>
                    <li><a href="#">团购</a></li>
                </ul>
            </div>
        </div>
{% endblock menu %}
<!--End Menu End-->
{% block body %}
<div class="i_bg">  
    <div class="content mar_20">
    	<img src="{% static "app/images/img3.jpg"  %}" />
    </div>
    
    <!--Begin 第三步：提交订单 Begin -->
    <div class="content mar_20">
    	
        <!--Begin 银行卡支付 Begin -->
    	<div class="warning">        	
            <table border="0" style="width:1000px; text-align:center;" cellspacing="0" cellpadding="0">
              <tr height="35">
                <td style="font-size:18px;">
                	感谢您在本店购物！您的订单已提交成功，请记住您的订单号: <font color="#ff4e00">{{ request.session.onumber }}</font>
                </td>
              </tr>
              <tr>
                <td style="font-size:14px; font-family:'宋体'; padding:10px 0 20px 0; border-bottom:1px solid #b6b6b6;">
                	您选定的配送方式为: <font color="#ff4e00">申通快递</font>； &nbsp; &nbsp;您选定的支付方式为: <font color="#ff4e00">支付宝</font>； &nbsp; &nbsp;您的应付款金额为: <font color="#ff4e00">￥<span id="money">{{ request.session.moneysum }}</span></font>
                </td>
              </tr>
              <tr>
                <td style="padding:20px 0 30px 0; font-family:'宋体';">
                	支付宝网站(www.alipay.com) 是国内先进的网上支付平台。<br />
                </td>
              </tr>
              <tr>
                <td>
                    <form action="{% url "app:pay" %}" method="post">
                        {% csrf_token %}
{#                	<div class="btn_u" style="margin:0 auto; padding:0 20px; width:120px;">#}
                        <input type="submit" value="立即使用支付宝支付" style="background-color: #ff6600"><br>
                        <input type="hidden" name="money" value="{{ request.session.moneysum }}">
{#                        </div>#}
                	<a href="{% url "app:index" %}">首页</a> &nbsp; &nbsp; <a href="{% url "app:member" %}">用户中心</a>
                    </form>
                </td>
              </tr>
            </table>        	
        </div>
        <!--Begin 银行卡支付 Begin -->
        
{#        <!--Begin 支付宝支付 Begin -->#}
{#    	<div class="warning">#}
{#            <table border="0" style="width:1000px; text-align:center;" cellspacing="0" cellpadding="0">#}
{#              <tr height="35">#}
{#                <td style="font-size:18px;">#}
{#                	感谢您在本店购物！您的订单已提交成功，请记住您的订单号: <font color="#ff4e00">2015092598275</font>#}
{#                </td>#}
{#              </tr>#}
{#              <tr>#}
{#                <td style="font-size:14px; font-family:'宋体'; padding:10px 0 20px 0; border-bottom:1px solid #b6b6b6;">#}
{#                	您选定的配送方式为: <font color="#ff4e00">申通快递</font>； &nbsp; &nbsp;您选定的支付方式为: <font color="#ff4e00">银行卡</font>； &nbsp; &nbsp;您的应付款金额为: <font color="#ff4e00">￥888.00</font>#}
{#                </td>#}
{#              </tr>#}
{#              <tr>#}
{#                <td style="padding:20px 0 30px 0; font-family:'宋体';">#}
{#                	支付宝网站(www.alipay.com) 是国内先进的网上支付平台。<br />#}
{#                    支付宝收款接口：在线即可开通，零预付，免年费，单笔阶梯费率，无流量限制。<br />#}
{#                    <a href="#" style="color:#ff4e00;">立即在线申请</a>#}
{#                </td>#}
{#              </tr>#}
{#              <tr>#}
{#                <td>#}
{#                	<div class="btn_u" style="margin:0 auto; padding:0 20px; width:120px;"><a href="#">立即使用支付宝支付</a></div>#}
{#                	<a href="#">首页</a> &nbsp; &nbsp; <a href="#">用户中心</a>#}
{#                </td>#}
{#              </tr>#}
{#            </table>#}
{#        </div>#}
{#        <!--Begin 支付宝支付 Begin -->#}
{##}
{#        <!--Begin 余额不足 Begin -->#}
{#    	<div class="warning">#}
{#            <table border="0" style="width:1000px; text-align:center;" cellspacing="0" cellpadding="0">#}
{#              <tr>#}
{#                <td>#}
{#                	<p style="font-size:22px;">提示 !</p>#}
{#                    <b style="color:#ff4e00; font-size:16px; font-family:'宋体';">您的余额不足以支付整个订单，请选择其他支付方式</b>#}
{#                	<div class="backs"><a href="#">返回上一页</a></div>#}
{#                </td>#}
{#              </tr>#}
{#            </table>#}
{#        </div>#}
{#        <!--Begin 余额不足 Begin -->#}
{##}
{##}
{#    </div>#}
{#	<!--End 第三步：提交订单 End-->#}
{% endblock body %}
    
