{% extends "app/base.html" %}
{% load static %}
{% block js %}
    <script type="text/javascript" src="{% static "app/js/jquery-1.8.2.min.js" %}"></script>
    <script type="text/javascript" src="{% static "app/js/menu.js" %}"></script>
                
	<script type="text/javascript" src="{% static "app/js/n_nav.js" %}"></script>
    
    <script type="text/javascript" src="{% static "app/js/select.js" %}"></script>
    
    <script type="text/javascript" src="{% static "app/js/num.js" %}">
    	var jq = jQuery.noConflict();
    </script>     
    
    <script type="text/javascript" src="{% static "app/js/shade.js" %}"></script>
{% endblock js %}
{% block title %}购物车 - 确认订单信息{% endblock title %}


<!--Begin Menu Begin-->
{% block menu %}
     <div class="menu_bg">
            <div class="menu">
                <div class="nav">
                    <div class="nav_t">全部商品分类</div>
                    <div class="leftNav none">
                        <ul>
                            {% for one in category_one %}
                            <li>
                                <div class="fj">
                                    <span class="n_img"><span></span><img src="{% static "app/images/nav1.png" %}" /></span>
                                    <span class="fl">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ one.classname }}</span>
                                </div>
                                <div class="zj" style="top:-{% widthratio forloop.counter0 1 40 %}px;">
                                    <div class="zj_l">
                                        {% for two in category_two %}
                                            {% if two.parentid == one.id %}
                                        <div class="zj_l_c">
                                            <h2>{{ two.classname }}</h2>
                                            {% for three in category_three %}
                                                {% if three.parentid == two.id %}
                                            <a href="{% url "app:categorylist" threeid=three.id %}">{{ three.classname }}</a>|
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                            {% endif %}
                                        {% endfor %}

                                    </div>
                                    <div class="zj_r">
                                        <a href="#"><img src="{% static "app/images/n_img1.jpg" %}" width="236" height="200" /></a>#}
                                        <a href="#"><img src="{% static "app/images/n_img2.jpg" %}" width="236" height="200" /></a>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                <!--End 商品分类详情 End-->
                <ul class="menu_r">
                <li><a href="{% url "app:index" %}">首页</a></li>
                    <li><a href="#">美食</a></li>
                    <li><a href="#">生鲜</a></li>
                    <li><a href="#">家居</a></li>
                    <li><a href="#">女装</a></li>
                    <li><a href="#">美妆</a></li>
                    <li><a href="#">数码</a></li>
                    <li><a href="#">团购</a></li>
                </ul>
            </div>
        </div>
{% endblock menu %}
<!--End Menu End-->
{% block body %}
<div class="i_bg">  
    <div class="content mar_20">
    	<img src="{% static "app/images/img2.jpg" %}" />
    </div>
    <form action="{% url "app:buycartwo" %}" method="post">
    {% csrf_token %}
    <!--Begin 第二步：确认订单信息 Begin -->
    <div class="content mar_20">
    	<div class="two_bg">
        	<div class="two_t">
            	<span class="fr"><a href="#">修改</a></span>商品列表
            </div>
            <table border="0" class="car_tab" style="width:1110px;" cellspacing="0" cellpadding="0">
              <tr>
                <td class="car_th" width="550">商品名称</td>
                <td class="car_th" width="140">属性</td>
                <td class="car_th" width="150">购买数量</td>
                <td class="car_th" width="130">小计</td>
                <td class="car_th" width="140">返还积分</td>
              </tr>
              {% for shangpin in shopping %}
              <tr>
                <td>
                    <input type="hidden" name="gid" value="{{ shangpin.id }}">
                    <div class="c_s_img"><img src="{{ shangpin.picture }}" width="73" height="73" /></div>
                    {{ shangpin.goods.goodsname }}
                </td>
                <td align="center">颜色：{{ shangpin.propertys.color }}</td>
                <td align="center">{{ shangpin.count }}</td>
                <td align="center" style="color:#ff4e00;">￥{{ shangpin.singalsum }}</td>
                <td align="center">26R</td>
              </tr>
              {% endfor %}
            </table>
            {% if defaultaddr %}
            <div class="two_t">
            	<span class="fr"><a href="#">修改</a></span>收货人信息
            </div>
            <table border="0" class="peo_tab" style="width:1110px;" cellspacing="0" cellpadding="0">
              <tr>
                  <input type="hidden", name="getername", value="海贼王">
                <td class="p_td" width="160">收货人姓名</td>
                <td width="395">{{ defaultaddr.consignee }}</td>
                <td class="p_td" width="160">电子邮件</td>
                <td width="395">{{ defaultaddr.email }}</td>
              </tr>
              <tr>
                                    <input type="hidden" name="phone" value="18600002222">
                  <td class="p_td">手机</td>
                <td>{{ defaultaddr.phone }}</td>

                <td class="p_td">邮政编码</td>
                <td>{{ defaultaddr.postcode }}</td>
              </tr>
              <tr>
                  <input type="hidden" name="province" value="四川省">
                  <td class="p_td">省</td>
                <td>{{ defaultaddr.province }}</td>
                    <input type="hidden" name="city" value="成都市">
                <td class="p_td">市</td>
                <td>{{ defaultaddr.city }}</td>

              </tr>
              <tr>
                  <input type="hidden" name="area" value="武侯区">
                <td class="p_td">区</td>
                <td>{{ defaultaddr.district }}</td>
                  <input type="hidden" name="address" value="四川省成都市武侯区">
                <td class="p_td">详细地址</td>
                <td>{{ defaultaddr.address }}</td>
              </tr>
            </table>
             {% else %}
                <div>
                <p align="center" style="font-size: 30px">请设置默认收货地址 <a href="{% url "app:memberaddress" %}" style="font-size: 20px; color: #ff6600">我的地址</a></p>
                </div>
            {% endif %}
            
            <div class="two_t">
            	配送方式
            </div>
            <table border="0" class="car_tab" style="width:1110px;" cellspacing="0" cellpadding="0">
              <tr>
                <td class="car_th" width="80"></td>
                <td class="car_th" width="200">名称</td>
                <td class="car_th" width="370">订购描述</td>
                <td class="car_th" width="150">费用</td>
                <td class="car_th" width="135">免费额度</td>
                <td class="car_th" width="175">保价费用</td>
              </tr>
              <tr>
              	<td align="center"><input type="checkbox"  checked="checked" /></td>
                <td align="center" style="font-size:14px;"><b>申通快递</b></td>
                <td>运费固定</td>
                <td align="center">￥0.00</td>
                <td align="center">￥0.00</td>
                <td align="center">不支持保价</td>
              </tr>
            </table> 
            
            <div class="two_t">
            	支付方式
            </div>
            <ul class="pay">
                <li class="checked">支付宝<div class="ch_img"></div></li>

            </ul>
            
            <div class="two_t">
            	其他信息
            </div>
            <table border="0" class="car_tab" style="width:1110px;" cellspacing="0" cellpadding="0">
              <tr valign="top">
                <td align="right" style="padding-right:0;"><b style="font-size:14px;">订单附言：</b></td>
                <td style="padding-left:0;"><textarea class="add_txt" style="width:860px; height:50px;"></textarea></td>
              </tr>
            </table>
            
            <table border="0" style="width:900px; margin-top:20px;" cellspacing="0" cellpadding="0">
              <tr>
                <td align="right">

                    商品总价: <font color="#ff4e00">￥{{ sum }}</font>  + 配送费用: <font color="#ff4e00">￥0.00</font>
                </td>
              </tr>
              <tr height="70">
                <td align="right">
                	<b style="font-size:14px;">应付款金额：<span style="font-size:22px; color:#ff4e00;">￥{{ sum }}</span></b>
                </td>
              </tr>

              <tr height="70">
                <td align="right"><input type="submit" value="确认订单" style="background-color: #ff5244"></td>
              </tr>
            </table>
            </form>
            
        	
        </div>
    </div>
	<!--End 第二步：确认订单信息 End-->
{% endblock body %}
    
