{% extends "app/base.html" %}
{% load static %}
    
{% block title %}分类列表{% endblock title %}
{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'app/js/n_nav.js' %}"></script>


{% endblock js %}

<!--Begin Menu Begin-->
{% block menu %}
    <div class="menu_bg">
            <div class="menu">
                <div class="nav">
                    <div class="nav_t">全部商品分类</div>
                    <div class="leftNav none">
                        <ul>
                            {% for one in category_one %}
                            <li>
                                <div class="fj">
                                    <span class="n_img"><span></span><img src="{% static "app/images/nav1.png" %}" /></span>
                                    <span class="fl">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ one.classname }}</span>
                                </div>
                                <div class="zj" style="top:-{% widthratio forloop.counter0 1 40 %}px;">
                                    <div class="zj_l">
                                        {% for two in category_two %}
                                            {% if two.parentid == one.id %}
                                        <div class="zj_l_c">
                                            <h2>{{ two.classname }}</h2>
                                            {% for three in category_three %}
                                                {% if three.parentid == two.id %}
                                            <a href="{% url "app:categorylist" threeid=three.id %}">{{ three.classname }}</a>|
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                            {% endif %}
                                        {% endfor %}

                                    </div>
                                    <div class="zj_r">
                                        <a href="#"><img src="{% static "app/images/n_img1.jpg" %}" width="236" height="200" /></a>#}
                                        <a href="#"><img src="{% static "app/images/n_img2.jpg" %}" width="236" height="200" /></a>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                <!--End 商品分类详情 End-->
                              <ul class="menu_r">
      <li><a href="{% url "app:index" %}">首页</a></li>
                    <li><a href="#">美食</a></li>
                    <li><a href="#">生鲜</a></li>
                    <li><a href="#">家居</a></li>
                    <li><a href="#">女装</a></li>
                    <li><a href="#">美妆</a></li>
                    <li><a href="#">数码</a></li>
                    <li><a href="#">团购</a></li>
                </ul>
            </div>
        </div>
{% endblock menu %}
{% block body %}
<div class="i_bg">
	<div class="postion">
    	<span class="fl">全部 > 美妆个护 > 香水 > </span>
        <span class="n_ch">
            <span class="fl">品牌：<font>香奈儿</font></span>
            <a href="#"><img src="{% static "app/images/s_close.gif" %}" /></a>
        </span>
    </div>
    <!--Begin 筛选条件 Begin-->
    <div class="content mar_10">
    	<table border="0" class="choice" style="width:100%; font-family:'宋体'; margin:0 auto;" cellspacing="0" cellpadding="0">
          <tr valign="top">
            <td width="70">&nbsp; 品牌：</td>
            <td class="td_a">
                <a href="{% url "app:categorylist" threeid=threeid  %}">全部</a>
                {% for brand in brands %}
                    {% if brand.category.id == threeid %}
                <a href="{% url "app:categorylist" threeid=threeid brandid=brand.id %}" class="">{{ brand.brandname }}</a>
                    {% endif %}
                {% endfor %}
            </td>
          </tr>
{#          <tr valign="top">#}
{#            <td>&nbsp; 价格：</td>                                                                                                       #}
{#            <td class="td_a">#}
{#                <a href="">全部</a><a href="#">0-499</a><a href="#" class="now">500-999</a><a href="#">1000-1499</a><a href="#">1500以上</a></td>#}
{#          </tr>                                              #}
{#          <tr>#}
{#            <td>&nbsp; 类型：</td>#}
{#            <td class="td_a"><a href="">全部</a><a href="#">女士香水</a><a href="#">男士香水</a><a href="#">其它</a></td>#}
{#          </tr>                                          #}
{#          <tr>#}
{#            <td>&nbsp; 香型：</td>                                       #}
{#            <td class="td_a"><a href="#">浓香水</a><a href="#">香精Parfum香水</a><a href="#">淡香精EDP淡香水</a><a href="#">香露EDT</a><a href="#">古龙水</a><a href="#">其它</a></td>#}
{#          </tr>                                                             #}
        </table>                                                                                 
    </div>
    <!--End 筛选条件 End-->
    
    <div class="content mar_20">
    	<div class="l_history">
        	<div class="his_t">
            	<span class="fl">浏览历史</span>
                <span class="fr"><a href="#">清空</a></span>
            </div>
        	<ul>
            	<li>
                    <div class="img"><a href="#"><img src="{% static "app/images/his_1.jpg" %}" width="185" height="162" /></a></div>
                	<div class="name"><a href="#">Dior/迪奥香水2件套装</a></div>
                    <div class="price">
                    	<font>￥<span>368.00</span></font> &nbsp; 18R
                    </div>
                </li>
                <li>
                    <div class="img"><a href="#"><img src="{% static "app/images/his_2.jpg" %}" width="185" height="162" /></a></div>
                	<div class="name"><a href="#">Dior/迪奥香水2件套装</a></div>
                    <div class="price">
                    	<font>￥<span>768.00</span></font> &nbsp; 18R
                    </div>
                </li>
                <li>
                    <div class="img"><a href="#"><img src="{% static "app/images/his_3.jpg" %}" width="185" height="162" /></a></div>
                	<div class="name"><a href="#">Dior/迪奥香水2件套装</a></div>
                    <div class="price">
                    	<font>￥<span>680.00</span></font> &nbsp; 18R
                    </div>
                </li>
                <li>
                    <div class="img"><a href="#"><img src="{% static "app/images/his_4.jpg" %}" width="185" height="162" /></a></div>
                	<div class="name"><a href="#">Dior/迪奥香水2件套装</a></div>
                    <div class="price">
                    	<font>￥<span>368.00</span></font> &nbsp; 18R
                    </div>
                </li>
                <li>
                    <div class="img"><a href="#"><img src="{% static "app/images/his_5.jpg" %}" width="185" height="162" /></a></div>
                	<div class="name"><a href="#">Dior/迪奥香水2件套装</a></div>
                    <div class="price">
                    	<font>￥<span>368.00</span></font> &nbsp; 18R
                    </div>
                </li>
        	</ul>
        </div>
        <div class="l_list">
        	<div class="list_t">
            	<span class="fl list_or">
                	<a href="#" class="now">默认</a>
                    <a href="#">
                    	<span class="fl">销量</span>                        
                        <span class="i_up">销量从低到高显示</span>
                        <span class="i_down">销量从高到低显示</span>                                                     
                    </a>
                    <a href="#">
                    	<span class="fl">价格</span>                        
                        <span class="i_up">价格从低到高显示</span>
                        <span class="i_down">价格从高到低显示</span>     
                    </a>
                    <a href="#">新品</a>
                </span>
                <span class="fr">共发现120件</span>
            </div>
            <div class="list_c">
            	
                <ul class="cate_list">
                    {% for goods in goodslist %}
                	<li>
                    	<div class="img"><a href="{% url "app:product" gid=goods.id %}"><img src="{{ goods.picture }}" width="210" height="185" /></a></div>
                        <div class="price">
                            <font>￥<span>{{ goods.price }}</span></font> &nbsp;
                        </div>
                        <div class="name"><a href="{% url "app:product" gid=goods.id %}">{{ goods.goodsname }}</a></div>
{#                        <div class="carbg">#}
{#                        	<a href="" id="shouchang" class="ss">收藏</a>#}
{#                            <a  id="doshopping" class="j_car">加入购物车</a>#}
{#                        </div>#}
                    </li>
                    {% endfor %}
{#                    <li>#}
{#                    	<div class="img"><a href="#"><img src="images/per_2.jpg" width="210" height="185" /></a></div>#}
{#                        <div class="price">#}
{#                            <font>￥<span>198.00</span></font> &nbsp; 26R#}
{#                        </div>#}
{#                        <div class="name"><a href="#">香奈儿邂逅清新淡香水50ml</a></div>#}
{#                        <div class="carbg">#}
{#                        	<a href="#" class="ss">收藏</a>#}
{#                            <a href="#" class="j_car">加入购物车</a>#}
{#                        </div>#}
{#                    </li>#}
{#                    <li>#}
{#                    	<div class="img"><a href="#"><img src="images/per_3.jpg" width="210" height="185" /></a></div>#}
{#                        <div class="price">#}
{#                            <font>￥<span>198.00</span></font> &nbsp; 26R#}
{#                        </div>#}
{#                        <div class="name"><a href="#">香奈儿邂逅清新淡香水50ml</a></div>#}
{#                        <div class="carbg">#}
{#                        	<a href="#" class="ss">收藏</a>#}
{#                            <a href="#" class="j_car">加入购物车</a>#}
{#                        </div>#}
{#                    </li>#}
{#                    <li>#}
{#                    	<div class="img"><a href="#"><img src="images/per_4.jpg" width="210" height="185" /></a></div>#}
{#                        <div class="price">#}
{#                            <font>￥<span>198.00</span></font> &nbsp; 26R#}
{#                        </div>#}
{#                        <div class="name"><a href="#">香奈儿邂逅清新淡香水50ml</a></div>#}
{#                        <div class="carbg">#}
{#                        	<a href="#" class="ss">收藏</a>#}
{#                            <a href="#" class="j_car">加入购物车</a>#}
{#                        </div>#}
{#                    </li>#}
{#                    <li>#}
{#                    	<div class="img"><a href="#"><img src="images/per_5.jpg" width="210" height="185" /></a></div>#}
{#                        <div class="price">#}
{#                            <font>￥<span>198.00</span></font> &nbsp; 26R#}
{#                        </div>#}
{#                        <div class="name"><a href="#">香奈儿邂逅清新淡香水50ml</a></div>#}
{#                        <div class="carbg">#}
{#                        	<a href="#" class="ss">收藏</a>#}
{#                            <a href="#" class="j_car">加入购物车</a>#}
{#                        </div>#}
{#                    </li>#}
{#                    <li>#}
{#                    	<div class="img"><a href="#"><img src="images/per_6.jpg" width="210" height="185" /></a></div>#}
{#                        <div class="price">#}
{#                            <font>￥<span>198.00</span></font> &nbsp; 26R#}
{#                        </div>#}
{#                        <div class="name"><a href="#">香奈儿邂逅清新淡香水50ml</a></div>#}
{#                        <div class="carbg">#}
{#                        	<a href="#" class="ss">收藏</a>#}
{#                            <a href="#" class="j_car">加入购物车</a>#}
{#                        </div>#}
{#                    </li>#}
{#                    <li>#}
{#                    	<div class="img"><a href="#"><img src="images/per_7.jpg" width="210" height="185" /></a></div>#}
{#                        <div class="price">#}
{#                            <font>￥<span>198.00</span></font> &nbsp; 26R#}
{#                        </div>#}
{#                        <div class="name"><a href="#">香奈儿邂逅清新淡香水50ml</a></div>#}
{#                        <div class="carbg">#}
{#                        	<a href="#" class="ss">收藏</a>#}
{#                            <a href="#" class="j_car">加入购物车</a>#}
{#                        </div>#}
{#                    </li>#}
{#                    <li>#}
{#                    	<div class="img"><a href="#"><img src="images/per_8.jpg" width="210" height="185" /></a></div>#}
{#                        <div class="price">#}
{#                            <font>￥<span>198.00</span></font> &nbsp; 26R#}
{#                        </div>#}
{#                        <div class="name"><a href="#">香奈儿邂逅清新淡香水50ml</a></div>#}
{#                        <div class="carbg">#}
{#                        	<a href="#" class="ss">收藏</a>#}
{#                            <a href="#" class="j_car">加入购物车</a>#}
{#                        </div>#}
{#                    </li>#}
{#                    <li>#}
{#                    	<div class="img"><a href="#"><img src="images/per_9.jpg" width="210" height="185" /></a></div>#}
{#                        <div class="price">#}
{#                            <font>￥<span>198.00</span></font> &nbsp; 26R#}
{#                        </div>#}
{#                        <div class="name"><a href="#">香奈儿邂逅清新淡香水50ml</a></div>#}
{#                        <div class="carbg">#}
{#                        	<a href="#" class="ss">收藏</a>#}
{#                            <a href="#" class="j_car">加入购物车</a>#}
{#                        </div>#}
{#                    </li>#}
{#                    <li>#}
{#                    	<div class="img"><a href="#"><img src="images/per_10.jpg" width="210" height="185" /></a></div>#}
{#                        <div class="price">#}
{#                            <font>￥<span>198.00</span></font> &nbsp; 26R#}
{#                        </div>#}
{#                        <div class="name"><a href="#">香奈儿邂逅清新淡香水50ml</a></div>#}
{#                        <div class="carbg">#}
{#                        	<a href="#" class="ss">收藏</a>#}
{#                            <a href="#" class="j_car">加入购物车</a>#}
{#                        </div>#}
{#                    </li>#}
{#                    <li>#}
{#                    	<div class="img"><a href="#"><img src="images/per_11.jpg" width="210" height="185" /></a></div>#}
{#                        <div class="price">#}
{#                            <font>￥<span>198.00</span></font> &nbsp; 26R#}
{#                        </div>#}
{#                        <div class="name"><a href="#">香奈儿邂逅清新淡香水50ml</a></div>#}
{#                        <div class="carbg">#}
{#                        	<a href="#" class="ss">收藏</a>#}
{#                            <a href="#" class="j_car">加入购物车</a>#}
{#                        </div>#}
{#                    </li>#}
{#                    <li>#}
{#                    	<div class="img"><a href="#"><img src="images/per_12.jpg" width="210" height="185" /></a></div>#}
{#                        <div class="price">#}
{#                            <font>￥<span>198.00</span></font> &nbsp; 26R#}
{#                        </div>#}
{#                        <div class="name"><a href="#">香奈儿邂逅清新淡香水50ml</a></div>#}
{#                        <div class="carbg">#}
{#                        	<a href="#" class="ss">收藏</a>#}
{#                            <a href="#" class="j_car">加入购物车</a>#}
{#                        </div>#}
{#                    </li>#}
{#                    <li>#}
{#                    	<div class="img"><a href="#"><img src="images/per_5.jpg" width="210" height="185" /></a></div>#}
{#                        <div class="price">#}
{#                            <font>￥<span>198.00</span></font> &nbsp; 26R#}
{#                        </div>#}
{#                        <div class="name"><a href="#">香奈儿邂逅清新淡香水50ml</a></div>#}
{#                        <div class="carbg">#}
{#                        	<a href="#" class="ss">收藏</a>#}
{#                            <a href="#" class="j_car">加入购物车</a>#}
{#                        </div>#}
{#                    </li>#}
{#                    <li>#}
{#                    	<div class="img"><a href="#"><img src="images/per_6.jpg" width="210" height="185" /></a></div>#}
{#                        <div class="price">#}
{#                            <font>￥<span>198.00</span></font> &nbsp; 26R#}
{#                        </div>#}
{#                        <div class="name"><a href="#">香奈儿邂逅清新淡香水50ml</a></div>#}
{#                        <div class="carbg">#}
{#                        	<a href="#" class="ss">收藏</a>#}
{#                            <a href="#" class="j_car">加入购物车</a>#}
{#                        </div>#}
{#                    </li>#}
{#                    <li>#}
{#                    	<div class="img"><a href="#"><img src="images/per_7.jpg" width="210" height="185" /></a></div>#}
{#                        <div class="price">#}
{#                            <font>￥<span>198.00</span></font> &nbsp; 26R#}
{#                        </div>#}
{#                        <div class="name"><a href="#">香奈儿邂逅清新淡香水50ml</a></div>#}
{#                        <div class="carbg">#}
{#                        	<a href="#" class="ss">收藏</a>#}
{#                            <a href="#" class="j_car">加入购物车</a>#}
{#                        </div>#}
{#                    </li>#}
{#                    <li>#}
{#                    	<div class="img"><a href="#"><img src="images/per_8.jpg" width="210" height="185" /></a></div>#}
{#                        <div class="price">#}
{#                            <font>￥<span>198.00</span></font> &nbsp; 26R#}
{#                        </div>#}
{#                        <div class="name"><a href="#">香奈儿邂逅清新淡香水50ml</a></div>#}
{#                        <div class="carbg">#}
{#                        	<a href="#" class="ss">收藏</a>#}
{#                            <a href="#" class="j_car">加入购物车</a>#}
{#                        </div>#}
{#                    </li>#}
{#                    <li>#}
{#                    	<div class="img"><a href="#"><img src="images/per_9.jpg" width="210" height="185" /></a></div>#}
{#                        <div class="price">#}
{#                            <font>￥<span>198.00</span></font> &nbsp; 26R#}
{#                        </div>#}
{#                        <div class="name"><a href="#">香奈儿邂逅清新淡香水50ml</a></div>#}
{#                        <div class="carbg">#}
{#                        	<a href="#" class="ss">收藏</a>#}
{#                            <a href="#" class="j_car">加入购物车</a>#}
{#                        </div>#}
{#                    </li>#}
{#                    <li>#}
{#                    	<div class="img"><a href="#"><img src="images/per_10.jpg" width="210" height="185" /></a></div>#}
{#                        <div class="price">#}
{#                            <font>￥<span>198.00</span></font> &nbsp; 26R#}
{#                        </div>#}
{#                        <div class="name"><a href="#">香奈儿邂逅清新淡香水50ml</a></div>#}
{#                        <div class="carbg">#}
{#                        	<a href="#" class="ss">收藏</a>#}
{#                            <a href="#" class="j_car">加入购物车</a>#}
{#                        </div>#}
{#                    </li>#}
{#                    <li>#}
{#                    	<div class="img"><a href="#"><img src="images/per_11.jpg" width="210" height="185" /></a></div>#}
{#                        <div class="price">#}
{#                            <font>￥<span>198.00</span></font> &nbsp; 26R#}
{#                        </div>#}
{#                        <div class="name"><a href="#">香奈儿邂逅清新淡香水50ml</a></div>#}
{#                        <div class="carbg">#}
{#                        	<a href="#" class="ss">收藏</a>#}
{#                            <a href="#" class="j_car">加入购物车</a>#}
{#                        </div>#}
{#                    </li>#}
{#                    <li>#}
{#                    	<div class="img"><a href="#"><img src="images/per_12.jpg" width="210" height="185" /></a></div>#}
{#                        <div class="price">#}
{#                            <font>￥<span>198.00</span></font> &nbsp; 26R#}
{#                        </div>#}
{#                        <div class="name"><a href="#">香奈儿邂逅清新淡香水50ml</a></div>#}
{#                        <div class="carbg">#}
{#                        	<a href="#" class="ss">收藏</a>#}
{#                            <a href="#" class="j_car">加入购物车</a>#}
{#                        </div>#}
{#                    </li>#}
                </ul>

                <div class="pages">
                	<a href="#" class="p_pre">上一页</a><a href="#" class="cur">1</a><a href="#">2</a><a href="#">3</a>...<a href="#">20</a><a href="#" class="p_pre">下一页</a>
                </div>
                
                
                
            </div>
        </div>
    </div>
{% endblock body %}
