<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link type="text/css" rel="stylesheet" href="{% static 'app/css/style.css' %}"/>
    <!--[if IE 6]>
    <script src="js/iepng.js" type="text/javascript"></script>
        <script type="text/javascript">
           EvPNG.fix('div, ul, img, li, input, a');
        </script>
    <![endif]-->

    <script type="text/javascript" src="{% static 'app/js/jquery-1.11.1.min_044d0927.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/jquery.bxslider_e88acd1b.js' %}"></script>

    <script type="text/javascript" src="{% static 'app/js/jquery-1.8.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/menu.js' %}"></script>

    <script type="text/javascript" src="{% static 'app/js/select.js' %}"></script>

    <script type="text/javascript" src="{% static 'app/js/lrscroll.js' %}"></script>

    <script type="text/javascript" src="{% static 'app/js/iban.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/fban.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/f_ban.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/mban.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/bban.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/hban.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/tban.js' %}"></script>

    <script type="text/javascript" src="{% static 'app/js/lrscroll_1.js' %}"></script>


    <title>找回密码</title>
</head>
<body>



       <!--Begin Header Begin-->
        <div class="soubg">
            <div class="sou">
                <span class="fr">
                    {% if request.session.username %}

                    <span class="fl">你好，<a href="{% url "app:member" %}">{{ request.session.username }}</a>&nbsp; <a href="{% url "app:register" %}" style="color:#ff4e00;">免费注册</a>&nbsp;|&nbsp;<a href="{% url "app:index" %}">&nbsp;首页&nbsp;</a>&nbsp;|&nbsp;<a href="{% url "app:member" %}"> &nbsp;个人中心&nbsp; </a>|&nbsp;<a href="#">&nbsp;我的订单&nbsp;</a>&nbsp;|</span>
                    <span class="ss">
                        <div class="ss_list">
                            <a href="#">收藏夹</a> &nbsp;|&nbsp;<a href="{% url "app:logout" %}">退出</a>
                        </div>
                    </span>

                    {% else %}
                        <span class="fl">你好，请<a href="{% url "app:login" %}">登录</a>&nbsp; <a href="{% url "app:register" %}" style="color:#ff4e00;">免费注册</a>&nbsp;
                    {% endif %}
            </div>
        </div>
<div class="log_bg">
    <div class="top">
        <div class="logo"><a href="{% url "app:index" %}"><img src="{% static "app/images/logo.png" %}"/></a></div>
    </div>
    <div class="regist">
        <div class="log_img"><img src="{% static 'app/images/l_img.png'%}" width="611" height="425"/></div>
        <div class="reg_c">
            <form action="{% url "app:getpassword" %}", method="post" id="reg1">
                {% csrf_token %}
                <table border="0" style="width:420px; font-size:14px; margin-top:20px;" cellspacing="0" cellpadding="0">
                    <tr height="50" valign="top">
                        <td width="95">&nbsp;</td>
                        <td>
                            <span class="fl" style="font-size:24px;">找回密码</span>
                            <span class="fr">已有商城账号，<a href="{% url "app:login" %}" style="color:#ff4e00;">我要登录</a></span>
                        </td>
                    </tr>
                    <tr height="50">

                        <td align="right"><font color="#ff4e00">*</font>&nbsp;用户名 &nbsp;</td>
                        <td><input type="text" value="" class="l_user" name="username"></td>


                    </tr>
                    {% if form.username.errors %}
                        <tr height="30" style="margin-left: 50px; color: red">
                        <td></td>
                        <td>{{ form.username.errors }}</td>
                    </tr>
                    {% endif %}


                    <tr height="50">
                        <td align="right"><font color="#ff4e00">*</font>&nbsp;新密码 &nbsp;</td>
                        <td><input type="password" value="" class="l_pwd" name="password"></td>
                    </tr>
                    {% if form.password.errors %}
                        <tr height="30" style="margin-left: 50px; color: red">
                        <td></td>
                        <td>{{ form.password.errors }}</td>
                        </tr>
                    {% endif %}
                    <tr height="50">
                        <td align="right"><font color="#ff4e00">*</font>&nbsp;确认新密码 &nbsp;</td>
                        <td><input type="password" value="" class="l_pwd" name="confirm_password"></td>
                    </tr>
                    {% if form.confirm_password.errors %}
                        <tr height="30" style="margin-left: 50px; color: red">
                        <td></td>
                        <td>{{ form.confirm_password.errors }}</td>
                        </tr>
                    {% endif %}

                    <tr height="50">
                        <td align="right"><font color="#ff4e00">*</font>&nbsp;邮箱 &nbsp;</td>
                        <td><input type="text" value="" class="l_email" name="email"></td>
                    </tr>
                    {% if form.email.errors %}
                        <tr height="30" style="margin-left: 50px; color: red">
                        <td></td>
                        <td>{{ form.email.errors }}</td>
                        </tr>
                    {% endif %}

                    <tr height="50">
                        <td align="right"><font color="#ff4e00">*</font>&nbsp;验证码 &nbsp;</td>
                        <td>
                            <input type="text" value="" class="l_ipt" name="yzm"/>
                            <button>发送邮箱验证码</button>
                        </td>
                    </tr>
                     {% if form.yzm.errors %}
                        <tr height="30" style="margin-left: 50px; color: red">
                        <td></td>
                        <td>{{ form.yzm.errors }}</td>
                        </tr>
                    {% endif %}
                    <tr height="60">
                        <td>&nbsp;</td>
                        <td><input type="submit" value="立即找回" class="log_btn"/></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
<!--End Login End-->
<!--Begin Footer Begin-->
<div class="btmbg">
    <div class="btm">
        备案/许可证编号：蜀ICP备12009302号-1-www.dingguagua.com Copyright © 2015-2018 尤洪商城网 All Rights Reserved. 复制必究 , Technical
        Support: Dgg Group <br/>
        <img src="{% static 'app/images/b_1.gif'%}" width="98" height="33"/><img src="{% static 'app/images/b_2.gif'%}" width="98" height="33"/><img
            src="{% static 'app/images/b_3.gif'%}" width="98" height="33"/><img src="{% static 'app/images/b_4.gif'%}" width="98" height="33"/><img
            src="{% static 'app/images/b_5.gif'%}" width="98" height="33"/><img src="{% static 'app/images/b_6.gif'%}" width="98" height="33"/>
    </div>
</div>
<!--End Footer End -->

</body>
<script>
    $('button').click(function (ev) {
        ev.preventDefault()
        if ($(".l_email").val()){

           $.post("{% url "app:send" %}", $("#reg1").serialize())
        }
        else {
            alert("请输入邮箱")
        }

    })
</script>

<!--[if IE 6]>
<script src="//letskillie6.googlecode.com/svn/trunk/2/zh_CN.js"></script>
<![endif]-->
</html>
