{% extends 'app/base.html' %}
{% block head %}
    {% load static %}
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
            "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>尤洪精美的购物商场模板</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link type="text/css" rel="stylesheet" href="{% static 'app/css/style.css' %}"/>
        <!--[if IE 6]>
        <script src="js/iepng.js" type="text/javascript"></script>
            <script type="text/javascript">
               EvPNG.fix('div, ul, img, li, input, a');
            </script>
        <![endif]-->
        <script type="text/javascript" src="{% static 'app/js/jquery-1.11.1.min_044d0927.js' %}"></script>
        <script type="text/javascript" src="{% static 'app/js/jquery.bxslider_e88acd1b.js' %}"></script>

        <script type="text/javascript" src="{% static 'app/js/jquery-1.8.2.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'app/js/menu.js' %}"></script>

        <script type="text/javascript" src="{% static 'app/js/select.js' %}"></script>

        <script type="text/javascript" src="{% static 'app/js/lrscroll.js' %}"></script>

        <script type="text/javascript" src="{% static 'app/js/iban.js' %}"></script>
        <script type="text/javascript" src="{% static 'app/js/fban.js' %}"></script>
        <script type="text/javascript" src="{% static 'app/js/f_ban.js' %}"></script>
        <script type="text/javascript" src="{% static 'app/js/mban.js' %}"></script>
        <script type="text/javascript" src="{% static 'app/js/bban.js' %}"></script>
        <script type="text/javascript" src="{% static 'app/js/hban.js' %}"></script>
        <script type="text/javascript" src="{% static 'app/js/tban.js' %}"></script>
        <script type="text/javascript" src="{% static 'app/js/lrscroll_1.js' %}"></script>

    </head>
    {{ block.super }}
{% endblock head %}

{% block body %}
    <!--End Menu End-->
    <div class="i_bg bg_color">
    <div class="i_ban_bg">
        <!--Begin Banner Begin-->

        <div class="banner">
            <div class="top_slide_wrap">
                <ul class="slide_box bxslider">
                    <li><img src="static/app/images/ban1.jpg" width="740" height="401"/></li>
                    <li><img src="static/app/images/ban1.jpg" width="740" height="401"/></li>
                    <li><img src="static/app/images/ban1.jpg" width="740" height="401"/></li>
                </ul>
                <div class="op_btns clearfix">
                    <a href="#" class="op_btn op_prev"><span></span></a>
                    <a href="#" class="op_btn op_next"><span></span></a>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            //var jq = jQuery.noConflict();
            (function () {
                $(".bxslider").bxSlider({
                    auto: true,
                    prevSelector: jq(".top_slide_wrap .op_prev")[0], nextSelector: jq(".top_slide_wrap .op_next")[0]
                });
            })();
        </script>
        <!--End Banner End-->

    </div>
    <!--Begin 热门商品 Begin-->
    <div class="content mar_10">
        <div class="h_l_img">
            <div class="img"><img src="/static/app/images/l_img.jpg" width="188" height="188"/></div>
            <div class="pri_bg">
                <span class="price fl">￥53.00</span>
                <span class="fr">16R</span>
            </div>
        </div>
        <div class="hot_pro">
            <div id="featureContainer">
                <div id="feature">
                    <div id="block">
                        <div id="botton-scroll">
                            <ul class="featureUL">
                                <li class="featureBox">
                                    <div class="box">
                                        <div class="h_icon"><img src="/static/app/images/hot.png" width="50"
                                                                 height="50"/></div>
                                        <div class="imgbg">
                                            <a href="#"><img src="/static/app/images/hot1.jpg" width="160"
                                                             height="136"/></a>
                                        </div>
                                        <div class="name">
                                            <a href="#">
                                                <h2>德国进口</h2>
                                                德亚全脂纯牛奶200ml*48盒
                                            </a>
                                        </div>
                                        <div class="price">
                                            <font>￥<span>189</span></font> &nbsp; 26R
                                        </div>
                                    </div>
                                </li>
                                <li class="featureBox">
                                    <div class="box">
                                        <div class="h_icon"><img src="/static/app/images/hot.png" width="50"
                                                                 height="50"/></div>
                                        <div class="imgbg">
                                            <a href="#"><img src="/static/app/images/hot2.jpg" width="160"
                                                             height="136"/></a>
                                        </div>
                                        <div class="name">
                                            <a href="#">
                                                <h2>iphone 6S</h2>
                                                Apple/苹果 iPhone 6s Plus公开版
                                            </a>
                                        </div>
                                        <div class="price">
                                            <font>￥<span>5288</span></font> &nbsp; 25R
                                        </div>
                                    </div>
                                </li>
                                <li class="featureBox">
                                    <div class="box">
                                        <div class="h_icon"><img src="/static/app/images/hot.png" width="50"
                                                                 height="50"/></div>
                                        <div class="imgbg">
                                            <a href="#"><img src="/static/app/images/hot3.jpg" width="160"
                                                             height="136"/></a>
                                        </div>
                                        <div class="name">
                                            <a href="#">
                                                <h2>倩碧特惠组合套装</h2>
                                                倩碧补水组合套装8折促销
                                            </a>
                                        </div>
                                        <div class="price">
                                            <font>￥<span>368</span></font> &nbsp; 18R
                                        </div>
                                    </div>
                                </li>
                                <li class="featureBox">
                                    <div class="box">
                                        <div class="h_icon"><img src="/static/app/images/hot.png" width="50"
                                                                 height="50"/></div>
                                        <div class="imgbg">
                                            <a href="#"><img src="/static/app/images/hot4.jpg" width="160"
                                                             height="136"/></a>
                                        </div>
                                        <div class="name">
                                            <a href="#">
                                                <h2>品利特级橄榄油</h2>
                                                750ml*4瓶装组合 西班牙原装进口
                                            </a>
                                        </div>
                                        <div class="price">
                                            <font>￥<span>280</span></font> &nbsp; 30R
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a class="h_prev" href="javascript:void();">Previous</a>
                    <a class="h_next" href="javascript:void();">Next</a>
                </div>
            </div>
        </div>
    </div>

    <div class="content mar_20">
        <img src="/static/app/images/mban_1.jpg" width="1200" height="110"/>
    </div>
    {% for one in category_one %}
        <!--Begin 进口 生鲜 Begin-->
        <div class="i_t mar_10">
            <span class="floor_num">{{ forloop.counter }}F</span>
            <span class="fl">{{ one.classname }}</span>
            <span class="i_mores fr"><a href="#">进口咖啡</a>&nbsp; &nbsp; &nbsp; <a href="#">进口酒</a>&nbsp; &nbsp; &nbsp; <a
                    href="#">进口母婴</a>&nbsp; &nbsp; &nbsp; <a href="#">新鲜蔬菜</a>&nbsp; &nbsp; &nbsp; <a href="#">新鲜水果</a></span>
        </div>
        <div class="content">
            <div class="fresh_left">
                <div class="fre_ban">
                    <div id="imgPlay1">
                        <ul class="imgs" id="actor{{ forloop.counter }}">
                            <li><a href="#"><img src="/static/app/images/fre_r.jpg" width="211" height="286"/></a></li>
                            <li><a href="#"><img src="/static/app/images/fre_r.jpg" width="211" height="286"/></a></li>
                            <li><a href="#"><img src="/static/app/images/fre_r.jpg" width="211" height="286"/></a></li>
                        </ul>
                        {#                            <div class="prevf">上一张</div>#}
                        {#                            <div class="nextf">下一张</div> #}
                    </div>
                </div>
                <div class="fresh_txt">
                    <div class="fresh_txt_c">
                        {% for two in category_two %}
                            {% if two.parentid == one.id %}
                                <a href="#">{{ two.classname }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="fresh_mid">
                <ul>
                    {% for goods in goodsset %}
                        {% if goods.oneclassid == one.id %}
                                    <li>
                                        <div class="name"><a href="{% url "app:product" gid=goods.id %}">{{ goods.goodsname }}</a></div>
                                        <div class="price">
                                            <font>￥<span>{{ goods.price }}</span></font> &nbsp;
                                        </div>
                                        <div class="img"><a href="{% url "app:product" gid=goods.id %}"><img src="{{ goods.picture }}" width="185"
                                                                          height="155"/></a></div>
                                    </li>
                        {% endif  %}
                    {% endfor %}
                    {#                        <li>#}
                    {#                            <div class="name"><a href="#">新鲜美味  进口美食</a></div>#}
                    {#                            <div class="price">#}
                    {#                                <font>￥<span>198.00</span></font> &nbsp; 26R#}
                    {#                            </div>#}
                    {#                            <div class="img"><a href="#"><img src="static/app/images/fre_2.jpg" width="185" height="155" /></a></div>#}
                    {#                        </li>#}
                    {#                        <li>#}
                    {#                            <div class="name"><a href="#">新鲜美味  进口美食</a></div>#}
                    {#                            <div class="price">#}
                    {#                                <font>￥<span>198.00</span></font> &nbsp; 26R#}
                    {#                            </div>#}
                    {#                            <div class="img"><a href="#"><img src="static/app/images/fre_3.jpg" width="185" height="155" /></a></div>#}
                    {#                        </li>#}
                    {#                        <li>#}
                    {#                            <div class="name"><a href="#">新鲜美味  进口美食</a></div>#}
                    {#                            <div class="price">#}
                    {#                                <font>￥<span>198.00</span></font> &nbsp; 26R#}
                    {#                            </div>#}
                    {#                            <div class="img"><a href="#"><img src="static/app/images/fre_4.jpg" width="185" height="155" /></a></div>#}
                    {#                        </li>#}
                    {#                        <li>#}
                    {#                            <div class="name"><a href="#">新鲜美味  进口美食</a></div>#}
                    {#                            <div class="price">#}
                    {#                                <font>￥<span>198.00</span></font> &nbsp; 26R#}
                    {#                            </div>#}
                    {#                            <div class="img"><a href="#"><img src="static/app/images/fre_5.jpg" width="185" height="155" /></a></div>#}
                    {#                        </li>#}
                    {#                        <li>#}
                    {#                            <div class="name"><a href="#">新鲜美味  进口美食</a></div>#}
                    {#                            <div class="price">#}
                    {#                                <font>￥<span>198.00</span></font> &nbsp; 26R#}
                    {#                            </div>#}
                    {#                            <div class="img"><a href="#"><img src="static/app/images/fre_6.jpg" width="185" height="155" /></a></div>#}
                    {#                        </li>#}
                </ul>
            </div>
            <div class="fresh_right">
                <ul>
                    <li><a href="#"><img src="/static/app/images/fre_b1.jpg" width="260" height="220"/></a></li>
                    <li><a href="#"><img src="/static/app/images/fre_b2.jpg" width="260" height="220"/></a></li>
                </ul>
            </div>
        </div>
        <!--End 进口 生鲜 End-->
    {% endfor %}

    <!--Begin 猜你喜欢 Begin-->
    <div class="i_t mar_10">
        <span class="fl">猜你喜欢</span>
    </div>
    <div class="like">
        <div id="featureContainer1">
            <div id="feature1">
                <div id="block1">
                    <div id="botton-scroll1">
                        <ul class="featureUL">
                            <li class="featureBox">
                                <div class="box">
                                    <div class="imgbg">
                                        <a href="#"><img src="/static/app/images/hot1.jpg" width="160" height="136"/></a>
                                    </div>
                                    <div class="name">
                                        <a href="#">
                                            <h2>德国进口</h2>
                                            德亚全脂纯牛奶200ml*48盒
                                        </a>
                                    </div>
                                    <div class="price">
                                        <font>￥<span>189</span></font> &nbsp; 26R
                                    </div>
                                </div>
                            </li>
                            <li class="featureBox">
                                <div class="box">
                                    <div class="imgbg">
                                        <a href="#"><img src="/static/app/images/hot2.jpg" width="160" height="136"/></a>
                                    </div>
                                    <div class="name">
                                        <a href="#">
                                            <h2>iphone 6S</h2>
                                            Apple/苹果 iPhone 6s Plus公开版
                                        </a>
                                    </div>
                                    <div class="price">
                                        <font>￥<span>5288</span></font> &nbsp; 25R
                                    </div>
                                </div>
                            </li>
                            <li class="featureBox">
                                <div class="box">
                                    <div class="imgbg">
                                        <a href="#"><img src="/static/app/images/hot3.jpg" width="160" height="136"/></a>
                                    </div>
                                    <div class="name">
                                        <a href="#">
                                            <h2>倩碧特惠组合套装</h2>
                                            倩碧补水组合套装8折促销
                                        </a>
                                    </div>
                                    <div class="price">
                                        <font>￥<span>368</span></font> &nbsp; 18R
                                    </div>
                                </div>
                            </li>
                            <li class="featureBox">
                                <div class="box">
                                    <div class="imgbg">
                                        <a href="#"><img src="/static/app/images/hot4.jpg" width="160" height="136"/></a>
                                    </div>
                                    <div class="name">
                                        <a href="#">
                                            <h2>品利特级橄榄油</h2>
                                            750ml*4瓶装组合 西班牙原装进口
                                        </a>
                                    </div>
                                    <div class="price">
                                        <font>￥<span>280</span></font> &nbsp; 30R
                                    </div>
                                </div>
                            </li>
                            <li class="featureBox">
                                <div class="box">
                                    <div class="imgbg">
                                        <a href="#"><img src="/static/app/images/hot4.jpg" width="160" height="136"/></a>
                                    </div>
                                    <div class="name">
                                        <a href="#">
                                            <h2>品利特级橄榄油</h2>
                                            750ml*4瓶装组合 西班牙原装进口
                                        </a>
                                    </div>
                                    <div class="price">
                                        <font>￥<span>280</span></font> &nbsp; 30R
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <a class="l_prev" href="javascript:void();">Previous</a>
                <a class="l_next" href="javascript:void();">Next</a>
            </div>
        </div>
    </div>
    <!--End 猜你喜欢 End-->
{% endblock body %}
