<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link type="text/css" rel="stylesheet" href="{% static 'app/css/style.css' %}"/>
    <!--[if IE 6]>
    <script src="js/iepng.js" type="text/javascript"></script>
        <script type="text/javascript">
           EvPNG.fix('div, ul, img, li, input, a'); 
        </script>
    <![endif]-->
    <script type="text/javascript" src="{% static 'app/js/jquery-1.11.1.min_044d0927.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/jquery.bxslider_e88acd1b.js' %}"></script>

    <script type="text/javascript" src="{% static 'app/js/jquery-1.8.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/menu.js' %}"></script>

    <script type="text/javascript" src="{% static 'app/js/select.js' %}"></script>

    <script type="text/javascript" src="{% static 'app/js/lrscroll.js' %}"></script>

    <script type="text/javascript" src="{% static 'app/js/iban.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/fban.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/f_ban.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/mban.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/bban.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/hban.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/tban.js' %}"></script>

    <script type="text/javascript" src="{% static 'app/js/lrscroll_1.js' %}"></script>


    <title>登录</title>
</head>
<body>

<!--End Header End-->
       <!--Begin Header Begin-->
        <div class="soubg">
            <div class="sou">
                <span class="fr">
                    {% if request.session.username %}

                    <span class="fl">你好，<a href="{% url "app:member" %}">{{ request.session.username }}</a>&nbsp; <a href="{% url "app:register" %}" style="color:#ff4e00;">免费注册</a>&nbsp;|&nbsp;<a href="{% url "app:index" %}">&nbsp;首页&nbsp;</a>&nbsp;|&nbsp;<a href="{% url "app:member" %}"> &nbsp;个人中心&nbsp; </a>|&nbsp;<a href="#">&nbsp;我的订单&nbsp;</a>&nbsp;|</span>
                    <span class="ss">
                        <div class="ss_list">
                            <a href="#">收藏夹</a> &nbsp;|&nbsp;<a href="{% url "app:logout" %}">退出</a>
                        </div>
                    </span>

                    {% else %}
                        <span class="fl">你好，请<a href="{% url "app:login" %}">登录</a>&nbsp; <a href="{% url "app:register" %}" style="color:#ff4e00;">免费注册</a>&nbsp;
                    {% endif %}
            </div>
        </div>
<div class="log_bg">
    <div class="top">
        <div class="logo"><a href="{% url "app:index" %}"><img src="{% static "app/images/logo.png" %}"/></a></div>
    </div>
    <div class="login">
        <div class="log_img"><img src="/static/app/images/l_img.png" width="611" height="425"/></div>
        <div class="log_c">
            <form action="{% url "app:login" %}" method="post">
                {% csrf_token %}
                <table border="0" style="width:370px; font-size:14px; margin-top:30px;" cellspacing="0" cellpadding="0">
                    <tr height="50" valign="top">
                        <td width="55">&nbsp;</td>
                        <td>
                            <span class="fl" style="font-size:24px;">登录</span>
                            <span class="fr">还没有商城账号，<a href="{% url "app:register" %}" style="color:#ff4e00;">立即注册</a></span>
                        </td>
                    </tr>
                    <tr height="70">
                        <td>用户名</td>
                        <td><input type="text" value="" class="l_user" name="username"></td>
                    </tr>
                    <tr height="70">
                        <td>密&nbsp; &nbsp; 码</td>
                        <td><input type="password" value="" class="l_pwd" name="password"></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td style="font-size:12px; padding-top:20px;">
                            {% if form.password.errors %}
                                <span style="color: red">{{ form.password.errors }}</span>
                            {% endif %}

                        <span class="fr"><a href="{% url "app:getpassword" %}" style="color:#ff4e00;">忘记密码</a></span>
                        </td>
                    </tr>
                    <tr height="60">
                        <td>&nbsp;</td>
                        <td><input type="submit" value="登录" class="log_btn"/></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
<!--End Login End-->
<!--Begin Footer Begin-->
<div class="btmbg">
    <div class="btm">
        备案/许可证编号：蜀ICP备12009302号-1-www.dingguagua.com Copyright © 2015-2018 尤洪商城网 All Rights Reserved. 复制必究 , Technical
        Support: Dgg Group <br/>
        <img src="/static/app/images/b_1.gif" width="98" height="33"/><img src="/static/app/images/b_2.gif" width="98"
                                                                           height="33"/><img
            src="/static/app/images/b_3.gif" width="98" height="33"/><img src="/static/app/images/b_4.gif" width="98"
                                                                          height="33"/><img
            src="/static/app/images/b_5.gif" width="98" height="33"/><img src="/static/app/images/b_6.gif" width="98"
                                                                          height="33"/>
    </div>
</div>
<!--End Footer End -->

</body>


<!--[if IE 6]>
<script src="//letskillie6.googlecode.com/svn/trunk/2/zh_CN.js"></script>
<![endif]-->
</html>
