{% extends "app/membase.html" %}
{% load static %}
{% block js %}
    {{ block.super }}
    <script>
    jQuery().ready( function () {
        jQuery("#bianji, #tianjia").click(function () {
            jQuery(".address").hide()
            jQuery(".add_tab").show()
        })
        jQuery(".add_b").click(function () {
            jQuery(".address").show()
            jQuery(".add_tab").hide()
        })
{#        jQuery(".address").focus(function () {#}
{#            jQuery(".addrid").addClass("dodel");#}
{#            console.log("***********")#}
{#            console.log(id)#}
{#            jQuery.post("{% url "app:memberaddress" %}"), {""}#}
{#        })#}
    })
    jQuery().ready(function () {
        jQuery(".del").live("click", function () {
            var a = jQuery(this).parent().children().eq(0).attr("class")
            console.log(a)
            jQuery.post("{% url "app:memberaddress" %}", {"do":"del", "addrid":a }, function(data){
                window.location.reload()
            })

        })

    })
    jQuery().ready(function () {
        jQuery(".dodefault").live("click", function () {
            var id = jQuery(this).attr("id")
            console.log(id)
            jQuery.post("{% url "app:memberaddress" %}", {"do":"dodefault", "addrid":id }, function(data){
                window.location.reload()
            })

        })
    })
    </script>
{% endblock js %}
{% block content %}
<div class="m_right">
            <p></p>
            <div class="mem_tit" >收货地址</div>
            {% for addr in addrlist %}
			<div class="address">
            	<div class="a_close">
                    <input type="hidden" class="{{ addr.id }}" value="{{ addr.id }}">

                    <img class="del" src="{% static "app/images/a_close.png" %}"  /></div>

            	<table border="0" class="add_t" align="center" style="width:98%; margin:10px auto;" cellspacing="0" cellpadding="0">
                  <tr>

                    <td align="right" width="80">收货人姓名：</td>
                    <td>{{ addr.consignee }}</td>
                  </tr>
                  <tr>
                    <td align="right">详细地址：</td>
                    <td>{{ addr.address }}</td>
                  </tr>
                  <tr>
                    <td align="right">手机：</td>
                    <td>{{ addr.phone }}</td>
                  </tr>
                  <tr>
                    <td align="right">电话：</td>
                    <td>{{ addr.tel }}</td>
                  </tr>
                  <tr>
                    <td align="right">电子邮箱：</td>
                    <td>{{ addr.email }}</td>
                  </tr>
                    <tr>
                    <td align="right">邮编：</td>
                    <td>{{ addr.postcode }}</td>
                  </tr>
                </table>
                {% if addr.isdefault == 0 %}
                <p align="right" id="{{ addr.id }}" class="dodefault">
                	<a  style="color:#ff4e00;">设为默认</a>&nbsp; &nbsp; &nbsp; &nbsp;
{#                    <a href="#" id="bianji" style="color:#ff4e00;">编辑</a>&nbsp; &nbsp; &nbsp; &nbsp;#}
                </p>
                {% else %}
                    <p align="right">
                	以默认&nbsp; &nbsp; &nbsp; &nbsp;
{#                    <a href="#" id="bianji" style="color:#ff4e00;">编辑</a>&nbsp; &nbsp; &nbsp; &nbsp;#}
                </p>
                {% endif %}
            </div>
    {% endfor %}
    <form action="{% url "app:memberaddress" %}" method="post">
                        <table border="0" class="add_tab" style="width:930px; display: none" cellspacing="0" cellpadding="0">
              <tr>
                <td width="135" align="right">配送地区</td>
                <td colspan="3" style="font-family:'宋体';">
{#                	<select class="jj" name="country" style="background-color:#f6f6f6;">#}
{#                      <option value="0" selected="selected">请选择...</option>#}
{#                      <option value="1">中国</option>#}
{#                      <option value="2">中国</option>#}
{#                      <option value="3">中国</option>#}
{#                      <option value="4">中国</option>#}
{#                    </select>#}
{#                	<select class="jj" name="province">#}
{#                      <option value="0" selected="selected">请选择...</option>#}
{#                      <option value="1">四川</option>#}
{#                      <option value="2">重庆</option>#}
{#                      <option value="3">北京</option>#}
{#                      <option value="4">云南</option>#}
{#                    </select>#}
{#                    <select class="jj" name="city">#}
{#                      <option value="0" selected="selected">请选择...</option>#}
{#                      <option value="1">成都</option>#}
{#                      <option value="2">宜宾</option>#}
{#                      <option value="3">南充</option>#}
{#                      <option value="4">绵阳</option>#}
{#                    </select>#}
{#                    <select class="jj" name="area">#}
{#                      <option value="0" selected="selected">请选择...</option>#}
{#                      <option value="1">武侯区</option>#}
{#                      <option value="2">成华区</option>#}
{#                      <option value="3">锦江区</option>#}
{#                      <option value="4">青羊区</option>#}
{#                    </select>#}
                    <input class="add_ipt" type="text" name="province" placeholder="省" >
                    <input class="add_ipt" type="text" name="city" placeholder="市">
                    <input class="add_ipt" type="text" name="district" placeholder="区">

                    （必填）
                </td>
              </tr>
              <tr>
                <td align="right">收货人姓名</td>
                <td style="font-family:'宋体';"><input type="text" name="consignee" value="姓名" class="add_ipt" />（必填）</td>
                <td align="right">电子邮箱</td>
                <td style="font-family:'宋体';"><input type="text" name="email" value="12345678@qq.com" class="add_ipt" />（必填）</td>
              </tr>
              <tr>
                <td align="right">详细地址</td>
                <td style="font-family:'宋体';"><input type="text" name="address" value="世外桃源" class="add_ipt" />（必填）</td>
                <td align="right">邮政编码</td>
                <td style="font-family:'宋体';"><input type="text" name="postcode" value="610000" class="add_ipt" /></td>
              </tr>
              <tr>
                <td align="right">手机</td>
                <td style="font-family:'宋体';"><input type="text" name="phone" value="1361234587" class="add_ipt" />（必填）</td>
                <td align="right">电话</td>
                <td style="font-family:'宋体';"><input type="text" name="tel" value="028-12345678" class="add_ipt" /></td>
              </tr>

            </table>

           	<p align="right" class="add_tab" style="display: none">
            	<a href="#" class="add_b">删除</a>&nbsp; &nbsp;
                <input type="submit" value="确认修改" style="background-color: #ff6600">
{#                <a href="#" class="add_b">确认修改</a>#}
            </p>
<div class="mem_tit">
            	<a ><img id="tianjia" src="{% static "app/images/add_ad.gif"%}" /></a>
            </div>
        {% csrf_token %}
 </form>


        </div>

{% endblock content %}
