{% extends "app/membase.html" %}
    
{% block title %}账户安全{% endblock title %}
{% block content %}
		<div class="m_right">
            <p></p>
            <div class="mem_tit">账户安全</div>

            
            <div class="m_des">
                <form method="post" action="{% url "app:membersafe" %}">
                <table border="0" style="width:880px;"  cellspacing="0" cellpadding="0">
                    {% csrf_token %}
                  <tr height="45">
                    <td width="80" align="right">原密码 &nbsp; &nbsp;</td>
                      <input type="hidden" name="change" value="changepassword">
                    <td><input type="password" value="" name="oldpassword" class="add_ipt" style="width:180px;" />&nbsp; <font color="#ff4e00">*</font></td>
                  </tr>
                  <tr height="45">
                    <td align="right">新密码 &nbsp; &nbsp;</td>
                    <td><input type="password" value="" name="newpassword" class="add_ipt" style="width:180px;" />&nbsp; <font color="#ff4e00">*</font></td>
                  </tr>
                  <tr height="45">
                    <td align="right">确认密码 &nbsp; &nbsp;</td>
                    <td><input type="password" value="" name="repassword" class="add_ipt" style="width:180px;" />&nbsp; <font color="#ff4e00">*</font></td>
                  </tr>
                  <tr height="50">
                    <td>&nbsp;</td>
                    <td><input type="submit" value="确认修改" class="btn_tj" /></td>
                  </tr>
                </table>
                </form>
            </div>
        </div>
    </div>
	<!--End 用户中心 End-->
{% endblock content %}
